{% extends 'base.html' %}

{% block content %}
<table class="table">
  <tr>
    <th scope="col">Id</th>
    <th scope="col">Nombre</th>
    <th scope="col">Id Jefe</th>
    <th scope="col">Fecha de creación</th>
    <th scope="col">Opciones</th>
  </tr>
  <tbody>
    {% for c in categorias %}
    <tr>
      <td scope="row">
        {{c.categoria_id}}
      </td>
      <td scope="row">
        {{c.nombre}}
      </td>
      <td scope="row">
        {{c.id_jefe}}
      </td>
      <td scope="row">
        {{c.created}}
      </td>
      <td scope="row">
        <button type="button" class="btn btn-warning btn-xs btn-flat">
          <i class="fas fa-edit"></i>
        </button>
        <button type="button" class="btn btn-danger btn-xs btn-flat">
          <i class="fa fa-trash" aria-hidden="true"></i>
        </button>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock  %}