{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  {% include "head.html" %}
</head>

<body class="hold-transition layout-top-nav">
  <div class="wrapper">
    <!-- NAVBAR -->
    {% include "navbar.html" %}
    <!-- NAVBAR -->
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
      <!-- Content Header (Page header) -->
      {% include "header.html" %}
      <!-- /.content-header -->
        
      <!-- Main content -->
      <div class="content">
        <div class="container">  
            <div class="box box-default">
              <div class="box-header with-border">
                <i class="fa fa-warning"></i>
  
                <h3 class="box-title">{{title}}</h3>
              </div>
              <!-- /.box-header -->
              <div class="box-body">
                {% block content %}
                <p3>Escribir aqui lo que se va a reemplazar</p3>
                {% endblock %}
              </div>
              <!-- /.box-body -->
            </div>
            <!-- /.box -->
          <!-- /.row -->
        </div><!-- /.container-fluid -->
      </div>
      <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->
  
    <!-- Control Sidebar -->
    <aside class="control-sidebar control-sidebar-dark">
      <!-- Control sidebar content goes here -->
      <div class="p-3">
        <h5>Title</h5>
        <p>Sidebar content</p>
      </div>
    </aside>
    <!-- /.control-sidebar -->
  
    <!-- Main Footer -->
    {% include "footer.html" %}
  </div>
  <!-- ./wrapper -->
  {% block javascript %}
    
  {% endblock %}
</body>

</html>